html {
	box-sizing: border-box;
	font-size: 16px;
}
body {
	background: rgba(0, 0, 0, 0.2);
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

.main-container {
	width: 600px;
	height: 150px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: floralwhite;
	text-align: center;
	/* position: fixed; */
}

h2 {
	font-weight: 900;
	padding-top: 20px;
	font-size: 2rem;
	text-transform: capitalize;
}
form {
	background: floralwhite;
	padding: 30px 0;
}
form input {
	height: 35px;
}
.input-egg {
	width: 80%;
	border-color: transparent;
	background: lightgrey;
	padding: .25rem .25rem .25rem 1rem;
}

.submit-button {
	border-color: transparent;
	background: lightskyblue;
	width: 10%;
	cursor: pointer;
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
}
.clear-items {
	background: floralwhite;
	padding: 1.5rem;
}
.clear-items button {
	padding: 20px 0px;
	font-size: 1rem;
	background: transparent;
	border-color: transparent;
	padding: 0 .5rem;
	cursor: pointer;
	color: hsl(205, 78%, 60%);
}
.list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
}

.list-items {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background: floralwhite;
}

.list-item button {
	font-size: 1.25rem;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: hsl(205, 78%, 60%);
}

p {
	font-size: 1.3rem;
}

.alert-box {
	background: floralwhite;
	padding: 20px;
}
